# Configuration for a Docker-based Ubuntu installation

# Whenever this version string changes, the application is configured 
# and rebuilt from scratch 
VERSION = 2016-09-23

CPP = cpp
FPP = cpp
CC  = gcc
CXX = g++
F90 = gfortran

CPPFLAGS =
FPPFLAGS = -traditional
CFLAGS = -g3 -march=native -std=gnu11
CXXFLAGS = -g3 -march=native -std=gnu++14
F90FLAGS = -g3 -march=native -fcray-pointer -ffixed-line-length-none -fno-range-check
LDFLAGS = -rdynamic

LIBDIRS =

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

DEBUG = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS =
CXX_DEBUG_FLAGS =
F90_DEBUG_FLAGS =

OPTIMISE = yes
CPP_OPTIMISE_FLAGS =
FPP_OPTIMISE_FLAGS =
C_OPTIMISE_FLAGS = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

PROFILE = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN = yes
CPP_WARN_FLAGS = -Wall
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS = -Wall
CXX_WARN_FLAGS = -Wall
F90_WARN_FLAGS = -Wall



# TODO: These should be determined automatically
OPENBLAS_DIR = /usr
PAPI_DIR = /usr
PETSC_ARCH_LIBS = m
